

/* define defaults for start page. */

body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-color: #038c33;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    color: #373637;
    text-align: left;
}

.welcome_string {
    display: block;
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
}

button {
    display: block;
    width: 190px;
    height: 30px;
    background-color: white;
    font-family: sans-serif;
    font-size: 1em; /*16px/16 = 1em */
    color: black;
    border: 1px solid #444444;
    border-radius: 2px;
    outline: none;
    position: relative;
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
}

#count_block,
#dynamic_block {
    display: block;
    position: relative;
    width: 80%;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    color: black;
    text-align: left;
    font-size: 1em;
    font-family: sans-serif;
    border: 1px solid #444444;
    background-color: white;
    padding: 20px;
}
